<configuration>
	
	<property name="LOG_FILE"
	value="target/custom-reports/LogBack-Reeports/TestLogger" />
	<appender name="FILE"
	class="ch.qos.logback.core.rolling.RollingFileAppender">
	<rollingPolicy
	class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	<fileNamePattern>target/custom-reports/LogBack-Reports/logback-%d{dd-MM-YYYY}.log	
	</fileNamePattern>
	<maxHistory>20</maxHistory>
	<totalSizeCap>9GB</totalSizeCap>
	</rollingPolicy>
	<encoder>
		<pattern>%msg%n</pattern>
	</encoder>
	</appender>
	<root level="INFO">
		<appender-ref ref="FILE" />
	</root>
</configuration>